{% extends 'base.html.twig' %}
{% block title %} Acheter {% endblock %}
{% block body %}
    <div class="jumbotron pt-3 pb-2">
        <div class="container">
            <h4>Affiner vos recherches :</h4>
            {{ form_start(form) }}
            <div class="form-row align-items-end">
                <div class="col">
                    {{ form_row(form.maxPrice) }}
                </div>
                <div class="col">
                    {{ form_row(form.minSurface) }}
                </div>
                <div class="col">
                    {{ form_row(form.options) }}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Rechercher</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="container">
        <h2>Voir tous nos biens</h2>
        <p class="px-2">
            Voici tous les biens actuellement disponible à l'achat. N'hésitez pas à utiliser le formulaire ci-dessus
            afin d'afficher seulement les biens qui vous intéressent.
        </p>
    </div>   

    <div class="container">
        <div class="row mx-0 justify-content-around align-items-stretch">
            {% for property in properties %}
                <div class="col-4">
                    {% include ('/property/_property.html.twig') %}
                </div>
            {% endfor %}
        </div>
        <div class="navigation">
            {{ knp_pagination_render(properties) }}
        </div>
    </div>
{% endblock %}